<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokedex3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE9391A11EC5029300EE3F85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9391B51EC5029300EE3F85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9391C01EC5029300EE3F85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
